# dependencies
node_modules

# next
.next
out

# env
.env
.env.local
.env.production
.env.development
.env.test

# database
prisma/dev.db
*.db
*.sqlite
*.sqlite3

# uploads and data
public/uploads
uploads
data

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
Thumbs.db

# temp scripts
hash-password.js